@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  background: #EFEFF2;
  color: #262626;
  font-family: var(--font-dm-sans), system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

@layer utilities {
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
